In [ ]:
# packages
import pandas as pd
import pyodbc

In [3]:
senha = r"55q%oE16n2^a"
connectionString = (    
    "DRIVER={ODBC Driver 18 for SQL Server};"
    "SERVER=10.237.4.188;"
    "DATABASE=SBOBoltinox;"
    "UID=sa;"
    f"PWD={senha};"
    "Encrypt=no;"
    "TrustServerCertificate=yes;"
)

In [7]:
# armazena a query em uma var
with open("../queries/rev_report.sql", "r", encoding="utf-8") as f:
    query = f.read()

In [8]:
with pyodbc.connect(connectionString) as conn:
    df = pd.read_sql(query, conn)

C:\Users\rodri\AppData\Local\Temp\ipykernel_17840\3309215763.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [9]:
df.head()

,Nº documento,Data de entrega,Data do documento,Cliente,Utilização,Total em ctos,Total sem imposto,Total com imposto,Frete,Total com frete incluso
0,63231,2025-09-22,2025-06-17,SEVILHA CONSTRUTORA LTDA,S-Venda,10.0,360.0,383.40,0.0,383.40
1,63234,2025-07-04,2025-06-18,ALUNOBRE INDUSTRIA E COMERCIO DE ESQUADRIAS LI...,S-Rem a Ordem Futura,5.0,0.0,0.00,0.0,0.00
2,63253,2025-08-30,2025-06-20,PORTICO ESQUADRIAS LTDA,S-Venda,11.0,110.0,117.15,0.0,117.15
3,63281,2025-09-23,2025-06-23,CONCEITO ALUMINIO NORDESTE LTDA.,S-Venda ST,220.0,3490.0,4966.59,0.0,4966.59
4,63377,2025-08-25,2025-07-01,ITAUNA - ESQUADRIAS LTDA,S-Rem a Ordem Futura,7.0,0.0,0.00,0.0,0.00

In [10]:
print(df.dtypes)

Nº documento                        int64
Data de entrega            datetime64[ns]
Data do documento          datetime64[ns]
Cliente                            object
Utilização                         object
Total em ctos                     float64
Total sem imposto                 float64
Total com imposto                 float64
Frete                             float64
Total com frete incluso           float64
dtype: object